<table class="table table-striped" style="border-collapse: separate">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Hình ảnh</th>
      <th scope="col">Giá</th>
      <th scope="col">Nhãn hiệu</th>
      <th scope="col">Nhà sản xuất</th>
    </tr>
  </thead>
  <tbody>
    {{{htmlProducts}}}
  </tbody>
</table>